.scrollContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: grab;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}