.backgroundImage {
    background-image: url("/images/banners/contact1440.png");
  
    width: 100%;
    backdrop-filter: blur(3px);
    background-blend-mode: overlay;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  @media (max-width: 1350px) {
    .backgroundImage {
      background-size: 100% 95%;
    }
  }
  @media (max-width: 1250px) {
    .backgroundImage {
      background-size: 100% 90%;
    }
  }
  @media (max-width: 1100px) {
    .backgroundImage {
      background-image: url("/images/banners/contact1100.png");
      background-size: 100% 100%;
    }
  }
  @media (max-width: 1100px) {
    .backgroundImage {
      background-size: 100% 95%;
    }
  }
  @media (max-width: 690px) {
    .backgroundImage {
      background-image: url("/images/banners/contact650.png");
      background-size: 100% 100%;
    }
  }
  @media (max-width: 400px) {
    .backgroundImage {
      background-size: cover;
    }
  }
  