.carousel {
  position: relative;
  width: 70%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  animation: scroll 15s linear infinite alternate;
}

.carousel-item {
  flex: 1 0 calc(100% / 8);
  border-left: solid #cacaca 0.5px;
  justify-items: center;
}

.carousel img {
  width: 90px;
  height: 90px;
  display: block;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1360px) {
  .carousel {
    width: 80%;
  }
}
@media (max-width: 690px) {
  .carousel {
    width: 100%;
  }

  .carousel-item {
    border-left: 0px;
  }
}

@media (max-width: 1660px) {
  .carousel-item {
    flex: 1 0 calc(100% / 6);
  }
}
@media (max-width: 1400px) {
  .carousel-item {
    flex: 1 0 calc(100% / 7);
  }
}

@media (max-width: 1200px) {
  .carousel-item {
    flex: 1 0 calc(100% / 6);
  }
}
@media (max-width: 1100px) {
  .carousel-item {
    flex: 1 0 calc(100% / 5);
  }
}
@media (max-width: 980px) {
  .carousel-item {
    flex: 1 0 calc(100% / 4);
  }
}

@media (max-width: 580px) {
  .carousel img {
    width: 95px;
    height: 95px;
  }
}
@media (max-width: 500px) {
  .carousel-item {
    flex: 1 0 calc(100% / 3);
  }
}
@media (max-width: 400px) {
  .carousel img {
    width: 84px;
    height: 84px;
  }
}
@media (max-width: 350px) {
  .carousel img {
    width: 80px;
    height: 80px;
  }
}
